python-telegram-bot==21.*
fastapi==0.*
uvicorn[standard]==0.*
pymongo==4.*
psycopg2-binary==2.*
kafka-python
google-generativeai==0.*
httpx==0.*
beautifulsoup4==4.*
pydantic-settings==2.*
icecream
loguru
python-dateutil==2.*
rich
pyquery
cloudscraper
jmespath
typing_extensions